@import 'tailwindcss';

@view-transition {
  navigation: auto;
}

::view-transition-group(*) {
  animation-duration: 0.2s;
}

:root {
  --color-contrast: oklch(70.5% 0.213 47.604);
  /* --color-contrast: oklch(64.6% 0.222 41.116); */

  --color-primary: white;
  --color-secondary: #fafafa;
  --color-inverted: black;

  --scrollbar-thumb: rgba(0, 0, 0, 0.4);
  --scrollbar-track: rgba(0, 0, 0, 0.1);
}

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

@theme {
  --color-contrast: var(--color-contrast);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
}

@layer base {
  * {
    @apply border-zinc-300 text-zinc-700;
  }

  body {
    @apply bg-primary;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0 p-0 text-black;
  }
}
